section.copyleft
  .container
    p 
      span N&copy;! 2015 Counterpoint Ltd. - property is theft,&nbsp;
      a(href='https://github.com/counterpointhackers') steal it back!
    p.licenses
      a(href='https://creativecommons.org/publicdomain/zero/1.0/') [CC0]
      a(href='https://www.gnu.org/licenses/gpl.html') [GPL-3.0]
