header
  .container
    h1#logo
      a(href='/') 
        span.primary counter
        span.secondary point
    nav
      ul
        li
          a(href='/membership') Members
        li
          a(href='/classes') Classes
        li
          a(href='/mission') Mission
        li
          a(href='/donate') Donate
