extends ./layout

block content
  section#contact
    .container
      h2 Contact
      p.
        The best way to get in touch is to come to a meeting! If you can't make 
        it to a meeting, try one of the impersonal options below.
      h3 Dead Trees
      pre.
        2300 Holcomb Bridge Rd
        Suite 103-192
        Roswell, GA 30076
      h3 Everything Else
      p 
        a(href='mailto:counterpoint@openmailbox.org') counterpoint@openmailbox.org
