doctype html
html
  head
    title Counterpoint Hackerspace
    link(rel='stylesheet', href='/css/base.css')
    block head
  body
    .wrapper
      include ./includes/header
      block content
      .push
    include ./includes/footer
