doctype html
html
  head
    title Counterpoint Hackerspace
    link(rel='stylesheet', href='/css/base.css')
    block head
  body
    include ./includes/header
    block content
    include ./includes/footer
