extends ./layout

block content
  section#membership
    .container
      h2 Membership
      h3 What It Means
      p.
        Everyone is welcome to participate in Counterpoint, so what does being 
        a member actually mean? Membership is something different. It is a 
        constructive and committed relationship with Counterpoint's mission 
        and an active effort to help us succeed in our pursuit of that mission.
      h3 Why It's Important
      p.
        Counterpoint's first major milestone will be the occupation of a 
        physical space. For us to reach that milestone, we need a community 
        that is dedicated to making it happen. Members participate in decision 
        making through our consensus process, ensuring that how quickly and the 
        means by which we get there are directly representative of the needs of 
        the people who will ultimately inhabit the space.
      h3 How It Works
      p Becoming a member is pretty straightforward.
      ol
        li Start attending member meetings (everyone is welcome)!
        li If you feel passionate about what we are doing and want to help, ask an existing member to sponsor you.
        li At the next meeting, if nobody holds any principled objections, you are a member!
        li Setup recurring payment for membership dues.
        li Get access to Slack, GitHub, etc.
