extends ./layout

block head
  link(rel='stylesheet', href='/css/mission.css')

block content
  section#mission
    .container
      h2 Mission
      blockquote
        | You cannot buy the revolution. You cannot make the revolution. You can 
        | only be the revolution. It is in your spirit, or it is nowhere.
        aside
          Ursula K. Le Guin, The Dispossessed
      p.
        Education has been consumed by the marketplace and it's currency is 
        information. It is locked away behind college tuitions, content 
        publishers, end-user license agreements, patents, and copyright. 
        The life source of education has become property, holding our minds 
        for ransom.
      p 
        strong Our mission is to build an escape hatch.
      p.
        We wish to open a free space where people can come and learn from each 
        other and to foster a community that values sharing knowledge over 
        seeking profit. To provide tools to those who do not have them and 
        prove that when we work together instead of for each other, we can 
        accomplish great things. We believe that the only prerequisite to 
        learning is desire and that access to resources and information should 
        be free.    
      p.
        We have chosen to model decision making after the anarchist 
        "do-cratic" process implemented by Noisebridge in San Fransisco. If 
        you want to see something happen at Counterpoint, then start doing it. 
        The guiding principle is only to "be excellent to each other". Decisions 
        are made through member consensus, meaning everyone is without any 
        principled objections. 
