@import 'variables'

@font-face
  font-family: 'I pixel u'
  src: url('/fonts/I-pixel-u.ttf')

@font-face
  font-family: 'Roboto'
  font-weight: normal
  src: url('/fonts/Roboto-Regular.ttf')

@font-face
  font-family: 'Roboto'
  font-weight: bold
  src: url('/fonts/Roboto-Bold.ttf')

@media screen and (min-width: 510px) and (max-width: 870px)
  header
    #logo
      float: none !important
    nav
      float: none !important
      ul
        li
          float: none !important
          display: inline-block
  .fiat
    width: auto !important
    float: none !important
  .bitcoin
    width: auto !important
    float: none !important
    margin-top: 24px !important
    overflow: hidden

@media screen and (min-width: 340px) and (max-width: 510px)
  header
    #logo
      float: none !important
    nav
      float: none !important
      ul
        li
          float: none !important
          display: inline-block
          a
            padding: 12px 2px !important
            font-size: 12px
  .fiat
    width: auto !important
    float: none !important 
  .bitcoin
    width: auto !important
    float: none !important
    margin-top: 24px !important
    overflow: hidden

*
  margin: 0

html, body
  height: 100%
  font-family: 'Roboto'

pre
  border: 1px solid #d2d2d2
  padding: 24px
  font-size: 16px
  overflow: auto

h3
  margin: 12px 0

blockquote
  max-width: 600px
  color: #999999
  line-height: 26px
  font-size: 18px
  font-style: italic
  margin: 24px auto
  padding: 24px
  
  aside
    text-align: right

p
  font-family: 'Roboto'
  font-size: 18px
  margin: 24px 0
  line-height: 28px

ol li
  font-size: 18px
  line-height: 28px

.container
  min-width: 340px
  max-width: 960px
  margin: auto
  overflow: hidden
  padding: 0 24px

.shade
  padding: 48px 0
  position: relative
  top: 0
  bottom: 0
  left: 0
  right: 0
  background: rgba(0, 0, 0, 0.8)

h2
  font-family: 'Roboto'
  color: GRAY
  font-size: 28px
  border-bottom: 1px solid RED
  padding-bottom: 12px
  margin: 24px 0

header
  overflow: hidden
  border-bottom: 1px solid #d2d2d2

  nav
    float: right
    
    ul
      margin: 0
      padding: 0
      list-style-type: none

      li
        float: right
        
        a
          display: block;
          padding: 22px 12px;
          margin: 0 12px;
          text-decoration: none;
          color: GRAY;
          font-family: sans-serif;
          
          &:hover
            color: RED
            border-bottom: 2px solid RED

  #logo
    float: left
    font-family: 'I pixel u'
    font-size: 48px
    font-weight: normal
    padding: 12px 12px 12px 86px
    margin: 0
    height: 42px
    background: url('/img/logo.png') 12px center no-repeat
    background-size: 58px 58px

    a
      text-decoration: none

    span
      position: relative
      top: -18px

    .primary
      color: RED

    .secondary
      color: GRAY

.wrapper
  min-height: 100%
  margin: 0 auto -205px

.push, footer
  height: 205px

footer
  font-family: 'Roboto'
  margin-top: 24px
  box-shadow: inset 0 3px 5px #d2d2d2
  padding-top: 24px
  background: #f6f6f6  
 
  .container
    padding-bottom: 24px

  ul
    margin: 12px 0
    padding: 0
    list-style-type: none
    text-align: center    

    li
      display: inline-block

      a
        text-decoration: none
        color: #000000
        font-size: 18px
        margin: 0 8px

        &:hover
          text-decoration: underline
        

.copyleft
  font-family: 'Roboto'
  text-align: center
  
  .container
    padding: 12px
    border-top: 1px solid #E2E2E2

  p
    margin: 12px 0

  a
    color: #000000

  .licenses a
    font-family: monospace
    display: inline-block
    margin: 0 6px
    font-size: 14px
    text-decoration: none

    &:hover
      text-decoration: underline

#events, #classes
  ul
    list-style-type: none
    padding: 0

    li
      border: 1px solid #d2d2d2
      padding: 0
      margin-bottom: 24px

      h3
        border-bottom: 1px solid #d2d2d2
        padding: 12px 12px 12px 56px
        margin: 0px 0px 12px
        background-repeat: no-repeat
        background-position: 12px center
        background-color: #f6f6f6
        color: GRAY

        &[data-category='meeting']
          background-image: url('/img/event-meeting.png')

        &[data-category='workshop']
          background-image: url('/img/event-workshop.png')
      
        &[data-category='class']
          background-image: url('/img/event-class.png')
          
        &[data-category='special']
          background-image: url('/img/event-special.png')

      em.date
        background: url('/img/event-date.png') left center no-repeat
        
      em.date, a.location
        display: inline-block
        padding: 0 0 0 24px
        background-size: 16px !important
        margin-right: 24px
        font-style: normal
        color: RED

      p
        font-size: 16px
        margin: 12px
    
      a.location
        background: url('/img/event-location.png') left center no-repeat
