@import 'variables'

#hero
  padding: 48px 0
  background: url('/img/hero.jpg') top center repeat;
  box-shadow: inset 0 0 120px

  h2
    font-family: 'Roboto'
    text-align: center
    font-size: 38px
    margin-top: 0 
    color: #FFFFFF

  .cta
    text-align: center
    font-family: 'Roboto'

    a
      text-decoration: none
      color: #FFFFFF
      font-size: 24px
      font-style: normal

      &:hover
        text-decoration: underline
