@import 'variables'

#legal
  ul
    list-style-type: square
    
    li
      a
        font-size: 18px
        color: RED
        text-decoration: none
        
        &:hover
          text-decoration: underline


