blockquote
  width: 600px
  color: #999999
  line-height: 26px
  font-size: 18px
  font-style: italic
  margin: 24px auto
  padding: 24px
  
  aside
    text-align: right

p
  font-family: 'Roboto'
  font-size: 18px
  margin: 24px 0
  line-height: 28px

